@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Creepster&family=Foldit&family=Special+Elite&family=Tourney&display=swap');


.p1{
    font-family: 'Codystar', cursive;
}

.p2{
    font-family: 'Foldit', cursive;
}

.p3{
    font-family: 'Creepster', cursive;
}

.p4{
    font-family: 'Special Elite', cursive;
}

.p5{
    font-family: 'Tourney', cursive;
}

